@charset "UTF-8";
/*  Variables  */
:root {
  --brand-main-color: #2196f3;
  --brand-bg-color: #2F303A;
  --brand-black: #212121;
  --brand-grey: #757575;
  --brand-bg-grey: #F5F4FA;
  --btn-hover-color: #188CE8;
  --icons-grey: #AFB1B8;
  --logo-positive-color: #000;
  --logo-negative-color: #fff;
  --simple-white: #fff;
  --brand-font: "Roboto";
  --brand-letter-spacing: 0.03em;
  --brand-logo-font: "Raleway";
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted Button Text;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* reset styles */
body {
  background-color: var(--simple-white);
  font-family: var(--brand-font), sans-serif;
  letter-spacing: var(--brand-letter-spacing);
  color: var(--brand-grey);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* I remove the stylization from ul */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* I remove the stylization from <a> */
a {
  text-decoration: none;
}

/* Prohibition of resizing in textarea */
textarea {
  resize: none;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

/* Main button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--simple-white);
  background-color: var(--brand-main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover-color);
}

.btn__subscribe-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

/* Close button on top right */
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--simple-white);
  transition: background-color var(--transition), color var(--transition);
}
.btn-close:hover, .btn-close:focus {
  color: var(--brand-main-color);
}

.btn-close__icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
  background-position: 50% 50%;
  background-origin: border-box;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--null-padding-top {
  padding-top: 0;
}
.section--bg-grey {
  background-color: var(--brand-bg-grey);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--brand-black);
}

/* Hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* .visually-hidden {
    position: fixed;
    transform: scale(0);
} */
/* /Stylization logo */
.logo {
  display: block;
  font-family: var(--brand-logo-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-main-color);
}

.logo__dark {
  color: var(--logo-positive-color);
}

.logo__light {
  color: var(--logo-negative-color);
}

/* Social networks*/
.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--icons-grey);
  background-color: var(--simple-white);
  transition: background-color var(--transition), color var(--transition);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--brand-main-color);
  color: var(--simple-white);
}

.socials__link--footer-colorize {
  color: var(--simple-white);
  background-color: rgba(255, 255, 255, 0.1);
}

/* top line */
.header {
  border-bottom: 1px solid #ECECEC;
}

/* navigation (flex for logo+menu) */
.nav {
  display: flex;
  align-items: center;
}

/* hover logo across the entire plane in the header */
.nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* menu */
.menu {
  display: flex;
  margin-left: 93px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-black);
  transition: color var(--transition);
  /* Underline under the title */
  /* Appearance of underlining under hover/focus title */
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-main-color);
  transform: scale(0);
  transition: transform var(--transition);
}
.menu__link:hover::after, .menu__link:focus::after {
  transform: scale(1);
}

/* Highlighting the active page */
.menu__link--current {
  color: var(--brand-main-color);
}
.menu__link--current::after {
  transform: scale(1);
}

/* Contacts in the header */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-grey);
  transition: color var(--transition);
}

.menu__link:hover,
.menu__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--brand-main-color);
}

/*  Hero  */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* inherited to children */
  background-color: var(--brand-bg-color);
  /* overlay (for now only on heroes) */
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--simple-white);
}

/* particular qualities */
.features {
  display: flex;
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--brand-bg-grey);
}

.features__icon {
  height: 70px;
  width: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--brand-black);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-grey);
}

.features__item {
  display: block;
  justify-content: center;
  align-items: center;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

/* What we do */
.offers {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.offers__item:not(:last-child) {
  margin-right: 30px;
}

.offers__icon-box {
  position: relative;
}

.offers__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* padding-top: 27px; */
  /* padding-bottom: 27px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--simple-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.employee {
  display: flex;
}

.employee__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--brand-black);
}

.employee__text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--brand-grey);
}

.employee__item {
  align-items: center;
  background-color: var(--simple-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.employee__item:not(:last-child) {
  margin-right: 30px;
}

/* Permanent clients */
.customers {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.customers__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-grey);
  border-radius: 4px;
  color: var(--icons-grey);
  transition: color var(--transition), border var(--transition);
}
.customers__link:hover, .customers__link:focus {
  color: var(--brand-main-color);
  border: 1px solid var(--brand-main-color);
}

/* buton's filter */
.filter-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-btns__item:not(:last-child) {
  margin-right: 8px;
}

.filter-btns__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--brand-black);
  background-color: var(--brand-bg-grey);
  border: transparent;
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}
.filter-btns__btn:hover, .filter-btns__btn:focus {
  color: var(--simple-white);
  background-color: var(--brand-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  Sample of work (cards) */
.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cards__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.cards__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  /* give the text a scroll if would be  an overflow of content */
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--simple-white);
  opacity: 0;
  transform: translate(0, 100%);
  transition: transform var(--transition), opacity var(--transition);
}

/* * «B17» Cards on the Portfolio page have a border (border property), but only at the bottom of the card. */
.cards__frame {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-black);
}

.cards__description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--brand-grey);
}

.cards__link {
  display: block;
  transition: box-shadow var(--transition);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Animation on a card */
.cards__animation {
  position: relative;
  /* hide everything that goes beyond the element*/
  overflow: hidden;
}
.cards__animation::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translate(0, 100%);
  transition: transform var(--transition), opacity var(--transition);
}

.cards__link:hover .cards__animation::before,
.cards__link:focus .cards__animation::before,
.cards__link:hover .cards__text,
.cards__link:focus .cards__text {
  opacity: 1;
  transform: translate(0, 0);
}

/* Animation on a card  */
/*  Footer  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-bg-color);
}

.footer__columns {
  align-items: baseline;
  display: flex;
}

.footer__contacts-box {
  flex-grow: 1;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__socials-box {
  margin-left: 70px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--simple-white);
}

.footer__subscribe-box {
  display: flex;
  margin-left: 93px;
  align-items: flex-end;
}

.footer__subscribe-field {
  display: flex;
  flex-direction: column;
}

.footer__btn {
  margin-left: 12px;
}

.footer__subscribe-input {
  width: 358px;
  padding: 15px 16px;
  background-color: var(--brand-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--simple-white);
}
.footer__subscribe-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--simple-white);
  transition: color var(--transition);
  /*  «С5» Contact text in the header and footer changes color on hover and focus */
  /* .address__link--contact:hover,
  .address__link--contact:focus, */
}
.address__link:hover, .address__link:focus {
  color: var(--brand-main-color);
}

.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
  /* transition: color var(--transition); */
}

/* ========== Modal window  */
/* Modal window overlay */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
  transition: transform var(--transition), visibility var(--transition);
}

/* Main window */
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  /* text-align: center; */
  padding: 40px;
  background-color: var(--simple-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  /* Prohibition of text selection so as not to disturb the user */
}

/* The title of the modal window */
.modal__header {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--brand-black);
}

.modal__fields {
  margin-bottom: 20px;
}

/*  Styles of input fields */
.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--brand-grey);
  transition: color var(--transition);
}
.modal__label:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--brand-black);
}

.modal__text {
  margin-bottom: 4px;
}

.modal__input {
  padding: 12px 16px 12px 42px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition);
}

.modal__input:not(:-moz-placeholder-shown):required:invalid {
  border-color: #f44336;
  outline-width: 0;
}

.modal__input:not(:-ms-input-placeholder):required:invalid {
  border-color: #f44336;
  outline-width: 0;
}

.modal__input:not(:placeholder-shown):required:invalid {
  border-color: #f44336;
  outline-width: 0;
}

.modal__input--textarea {
  padding-left: 16px;
  height: 96px;
}
.modal__input--textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.167;
}
.modal__input--textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.167;
}
.modal__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.167;
}

/* Icons on input fields */
.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
}

/* paint the outline of the input fields when hovering, focusing, and when the cursor is in the input field */
.modal__label:focus .modal__input,
.modal__input:focus-within {
  border-color: var(--brand-main-color);
  outline-width: 0;
}

/* paint the icons on hover and focus, as well as when the cursor is in the input field */
.modal__label:focus .modal__icon,
.modal__label:focus-within .modal__icon {
  color: var(--brand-main-color);
}

/* Styles of input fields  */
/* === Поле згоди з умовами === */
/* Стилі для загального label */
.agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: transparent;
  /* I change the color of the text on hover/focus */
  /* I change the color of the border of the icon on hover/focus */
}
.agreement__label:hover .agreement__text, .agreement__label:focus .agreement__text {
  color: var(--brand-main-color);
  /* outline: 1px solid var(--brand-main-color); */
  /* border: 1px solid var(--brand-main-color); */
  /* border-radius: 4px; */
}
.agreement__label:hover .agreement__icon, .agreement__label:focus .agreement__icon {
  border-color: var(--brand-main-color);
}

/* default checkbox icon styles */
.agreement__icon {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: currentColor;
  border: 1px solid var(--brand-black);
  border-radius: 4px;
  transition: border-color var(--transition);
}

/* "I accept terms" text styles */
.agreement__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-grey);
  transition: color var(--transition);
}

/* Additional stylization of the link to "Contract Terms" */
.agreement__terms-link {
  text-decoration: underline;
  color: var(--brand-main-color);
}

/* Hidden input field with type="checkbox" */
/* Changing the style of the checkbox icon when clicking on .agreement  */
.agreement__checkbox:checked + .agreement__icon {
  /* background-origin: border-box; */
  color: var(--brand-main-color);
  background-color: var(--brand-main-color);
  background-size: contain;
  /* if you do not set border=0, the icon remains reduced */
  border: 0;
}

/* I draw an outline, because otherwise, when focusing through "TAB", the focus is not visible*/
.agreement__checkbox:focus + .agreement__icon {
  outline: 1px solid var(--brand-black);
}/*# sourceMappingURL=main.css.map */