/*  Sample of work (cards) */
.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.cards__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.cards__text {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 24px;

    /* give the text a scroll if would be  an overflow of content */
    overflow: auto;

    font-size: 18px;
    line-height: 1.56;
    color: var(--simple-white);

    opacity: 0;
    transform: translate(0, 100%);
    transition: transform var(--transition),
        opacity var(--transition);
}

/* * «B17» Cards on the Portfolio page have a border (border property), but only at the bottom of the card. */
.cards__frame {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.cards__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-black);
}

.cards__description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--brand-grey);
}

.cards__link {
    display: block;
    transition: box-shadow var(--transition);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

/* Animation on a card */
.cards__animation {
    position: relative;
    /* hide everything that goes beyond the element*/
    overflow: hidden;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transform: translate(0, 100%);
        transition: transform var(--transition),
            opacity var(--transition);
    }
}

.cards__link:hover .cards__animation::before,
.cards__link:focus .cards__animation::before,
.cards__link:hover .cards__text,
.cards__link:focus .cards__text {
    opacity: 1;
    transform: translate(0, 0);
}

/* Animation on a card  */

