/* === Соціальні мережі === */
.socials {
    display: flex;
    justify-content: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    color: var(--icons-grey);
    background-color: var(--simple-white);
    transition: background-color var(--transition),
        color var(--transition);
    
    &:hover,
    &:focus {
        background-color: var(--brand-main-color);
        color: var(--simple-white);
    }
}

.socials__link--footer-colorize {
    color: var(--simple-white);
    background-color: rgba(255, 255, 255, 0.1);
}



/* === /Соціальні мережі === */